html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* mi codigo */


body {
    background: rgb(255, 0, 221) linear-gradient(45deg,rgba(211, 66, 66, 0.932),rgba(136, 12, 12, 0.801) 20%, rgba(0, 0, 0, 0.788));
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}
a:link, a:visited, a:active {
    text-decoration:none;
}


.nav {
    background-color: rgba(170, 170, 170, 0.096);
    padding: 20px;
}

.lanzador, #menu li a {
    color: white;
}

#menu {
    display: none;
}
#menu:target {
    display: block;
}
#menu li::before {
    content:". ";
}

.avatar {
    text-align: center;
}




.avatar p {
    margin-top: 50px;
    color: rgba(172, 0, 66, 0.493);
    font-size: 60px;
    text-shadow: 4px 4px 3px rgba(100, 8, 20, 0.514);

}




.avatar img {
    width: 200px;
    border: 10px solid hsl(33,100%,100%,1);
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 5px 5px 10px rgba(120, 120, 210, 0.4);
    margin: 50px;  
    transition: 1s all ease-in-out;    
}

.avatar img:hover{
    transition: 3s;
    transform: scale(1);
    transform: rotate(360deg);
}

.texto {
    text-align: center;
    width: 70%;
    color: rgba(172, 0, 66, 0.493);
    font-size: 10px;
    text-shadow: 4px 4px 3px rgba(100, 8, 20, 0.514);

    margin: 0 auto;
    padding-bottom: 50px;

    transition: 1s all ease-in-out;
}
.texto:hover {
    font-size: 20px;
    color: rgb(255, 187, 187);
}
.form {
    color: white;
    text-align: center;
}
.botones {
    padding: 30px;
}

/* usando selectores */
::-webkit-input-placeholder{color: rgb(141, 0, 71);}
::-ms-input-placehoder{color: rgb(141, 0, 71);}
::-moz-input-placehoder{color: rgb(141, 0, 71);}
::placeholder {
    color: rgb(141, 0, 71);
}

input:required{
    border: none;
    border-left: 5px solid rgb(255, 7, 131) ;
}
input:optional {
    border:none;
    border-left:5px solid rgb(7, 255, 48) ;
}








/* Footer */
.footer {
    background-color: rgb(36, 36, 36);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
.footer ul {
    margin: 20px;
}